nav{
    margin:1em;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    }

    .cartimg{
        width: 40px;
        height: 40px;
        background-color: #aedaa6
        
       
    }
    .cost{
        color: rgb(126 171 153);
    }
    
    .name{
        color: rgb(78 149 121);
        /* color: rgb(54 112 89); */
    }
    .cart {
        background-color: white;
        color: #212529;
        width: fit-content;
        height: min-content;
        margin: 1em;
        position: relative;
        margin-left: 10px;
    }
   
a{
    text-decoration: none;
    color:  #000  
}


.details {
    display: flex;
    flex-direction: column;
gap: 10px;
width: 50%;
}

.img-price{
    width: 50%;
    justify-content: space-between;
    flex-direction: column;

    align-content: center;
}
span{
    padding-top: 8px;
    color: #545151
}

#label{
    text-align: center;
    margin-bottom: 20px;
   color: rgb(56 126 102);
    font-family: 'Poppins', sans-serif;
}
.homebtn{
    background-color: #212529;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #e78c14;
}



.cart-item {
    border: 2px solid #e78c14;
    border-radius: 5px;
    display: flex;
    
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    
    /* background-image: linear-gradient(to right bottom, #fc944a, #d66a63, #9a5168, #5a3f55,#2a292c); */
   
    margin: auto;
    border-radius: 20px;
}
  
  .title-price-x {
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 0.5em;
  }

.shopping-cart {
display: grid;
grid-template-columns: auto;
justify-content: center;
margin-bottom: 100%;
height: 2px;
width:100%;
align-items: center;

gap: 7px;

}

nav button{
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #aedaa6;
    padding: 8px 0px;
    /* margin-bottom: 30px; */
    color: #aedaa6;
    text-transform: uppercase;
    /* width: 35px; */
    font-family: inherit;
    /* margin-right: 5px; */
    /* transition: all 0.3s ease; */
    font-weight: 500;
    color: #545151;
}

.buttons{
    display: flex;
    justify-content: space-around;
}


h3{
    margin: 0;
}



.cart-item-price {
background-color: #e78c14;
color: #212529;
border-radius: 10px;
width: fit-content;

padding: 10px;
display: flex;
align-content: center;
margin-left: 3em;
margin-bottom: 0px;
  }


  .cart-img{
    width: 95%;
    height: 60%;
    border-radius: 20px;
    
  }

.bi{
    color: rgb(219, 143, 2);
}
button{
    color: #aedaa6;
    border: 1px solid #aedaa6;;
    color: #212529;
    padding: 11px;
    
}
.totalamt{
    margin-right: 5px;
}
.customerName{
   background-color:  antiquewhite;
    margin: 5px;
    padding: 7px;
    border: none;
}
img{
    
    width: 1.5em;
    
} 
.btn{
    color: #fff;
    padding: 0.7em;
    background-color: #000;
}