.nav-fostrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.nav-fostrap li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14;
    color: #def1f0;
}

.nav-fostrap li a {
    padding: 15px 20px;
    font-size: 14;
    color: #def1f0;
    display: inline-block;
    outline: 0;
    font-weight: 400;
}

.nav-fostrap li:hover ul.dropdown {
    display: block;
}

.nav-fostrap li ul.dropdown {
    position: absolute;
    display: none;
    width: 200px;
  
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
    display: block;
    list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a {
    border-bottom: none;
}

.nav-fostrap li:hover a {
 
}

.nav-fostrap li:first-child:hover a {
    border-radius: 3px 0 0 3px;
}

.nav-fostrap li ul.dropdown li:hover a {
    background: rgba(0, 0, 0, .1);
}

.nav-fostrap li ul.dropdown li:first-child:hover a {
    border-radius: 0;
}

.nav-fostrap li:hover .arrow-down {
    border-top: 5px solid #fff;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #def1f0;
    position: relative;
    top: 15px;
    right: -5px;
    content: '';
}

.nav-fostrap {
    background: #fff;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: -200px;
    top: 0px;
    z-index: 99;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.title-mobile {
    display: block;
    top: 10px;
    font-size: 20px;
    left: 100px;
    right: 100px;
    text-align: center;
    color: #000;
}

.nav-fostrap.visible {
    left: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
}

a:hover {
    color: #000;
}

.nav-bg-fostrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin: 0;
    position: fixed;
    background: #fff;
    top: 0px;
    left: 0px;
  
    color: #000;
    padding: 12px 0 0 10px;
 
    display: flex;
    justify-content: space-evenly;
}

.navbar-fostrap {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 0;
   
    right: 0;
    padding: 12px;
}
.input-group{
    margin-top: 16px;
}
.navbar-fostrap span {
    height: 2px;
    background: #fff;
    margin: 5px;
    display: block;
    width: 20px;
}

.navbar-fostrap span:nth-child(2) {
    width: 20px;
}

.navbar-fostrap span:nth-child(3) {
    width: 20px;
}

.nav-fostrap ul {
    transform: translate3d(0px, 0, 0);
}

.nav-fostrap li {
    display: block;
}

.nav-fostrap li a {
    display: block;
    color: #505050;
    display: flex;
    font-weight: 600;
}

.nav-fostrap li:first-child:hover a {
    border-radius: 0;
}

.nav-fostrap li ul.dropdown {
    position: relative;
}



.nav-fostrap li ul.dropdown li:hover a {
    /* background: rgba(0, 0, 0, .1) !important;
    color: #fff !important; */
    background-color: #4a3749;;
}

.nav-fostrap li ul.dropdown li a {
    padding: 10px 10px 10px 30px;
}

element.style {
}
.sidebar-left .nav-bar ul li a.item-selected i, .sidebar-left .nav-bar ul li a.item-selected span {
    color: var(--f7-theme-color);
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
.menu-list .item-selected .item-link, .menu-list .item-selected.item-link, .menu-list .tab-link-active .item-link, .menu-list .tab-link-active.item-link {
    color: var(--f7-menu-list-selected-text-color);
    background-color: var(--f7-menu-list-selected-bg-color);
}
ul li a {
    display: flex;
    align-items: center;
    color: #b0acb3;
    font-size: 16px;
    padding: 15px 30px;
    position: relative;
    margin: 0;
    border-radius: 0 !important;
}

.nav-fostrap li:hover .arrow-down {
    border-top: 5px solid #fff;
}

.arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px;
}

.cover-bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width:1199px) {
    .container {
        width: 96%;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav {
    position: relative;
    height: 40px;
    z-index: 99;
    background-color: #fff;
}

.con {
    display: flex;
}
.fa-solid{
    font-weight: 300;
}



#search{
    

    margin: 0 20px;
    width: 60%;
    
    
    

    border: 1px solid #ebebeb;
    height: 60px;
    background-color: var(--f7-theme-color-white);
    font-size: 16px;
    padding: 12px 20px 12px 60px;
    border-radius: 22px;
}
.toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    left: 0;
}
.footer-button {
    height: 92px;
   
    padding: 15px 30px !important;
    right: 0;
    left: 0;
}

.button.button-large {
    font-size: 16px;
    padding: 20px 30px;
    height: auto;
    line-height: 1.3;
 background: #4a3749;
    border-radius: 22px;
    width: fit-content;
    margin: 0 auto;
}

.button {
   
    text-decoration: none;
    text-align: center;
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
 
}
#searchicon{
    left: 42px;
    margin: 0;
    top: 71px;
    position: absolute;

}
.cart{
    height: 60px;
    min-width: 60px;
    background-color: #ebebeb;
    border-radius: 22px;
    text-align: center;
    display: block;
    margin-left: 12px;
    padding-top: 15px;
}
#back{
    position: fixed;
    top: 12;
    left: 20;
    z-index: 5;
}
span{
    padding: 0 10;    color: #545151
}

.fa-circle-xmark{
    font-weight: 400;
    color: black;
    display: block;
    color: #000;
    font-size: 1em;
    position: absolute;
    right: 25px;
    top: 32px;

}
.title{
    font-size: 1.5rem;
    padding-left: 5px;
    font-weight: 500;
    line-height: 1.3;
}
.view-order{
    position: fixed;
    bottom: 0;
    width: 91%;
    padding: 3px;
    height: 7%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 18px;
    border-radius: 8px;
    background: #4ba54b;
    padding: 10px;

}
.view-order  p{
    margin: 0;
    color: white;
}