::-webkit-scrollbar {
    width: 3px;
display: flex;
  }

::-webkit-scrollbar-track {
  box-shadow:inset 0 0 0px 5px #fff;
}
 
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
}
:root{
	scrollbar-width: thin;
	scrollbar-color: #e1e1e1 #fff;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* component */

.star-rating {
    
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .3em;
    text-align:center;
    width:5em;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    /* color:#ccc; */
    cursor:pointer;
  }
  
  
  

  .checked{
    color:#fc0;
  }

  .star-rating label:hover,
  .star-rating label:hover ~ label,
  .star-rating input:checked ~ label {
    color: gold;
  }
  











