
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 body{
     margin: 0;
      padding: 0;
      font-family: poppins;
 }
  .navigation {
      height: 55px;
      
 }
input{
    border: 1px solid #2f4cdd;
}



/* CSS */
button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 5px 23px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
.buttondiv{
    padding: 15px;
}
@media (min-width: 768px) {

}
  .brand {
      position: absolute;
      padding-left: 20px;
      float: left;
      line-height: 55px;
      text-transform: uppercase;
      font-size: 1.4em;
 }
  .brand a, .brand a:visited {
      color: #ffffff;
      text-decoration: none;
 }
  .nav-container {
      /* max-width: 1000px; */
      margin: 0 auto;
 }
  nav {
      float: right;
 }
  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 10em;
 }
  nav ul li {
      float: left;
      position: relative;
 }
  nav ul li a,nav ul li a:visited {
      display: block;
      padding: 0 20px;
      line-height: 55px;
      color: #fff;
      background: #262626 ;
      text-decoration: none;
 }
  nav ul li a{
      background: transparent;
      color: #FFF;
 }
  nav ul li a:hover, nav ul li a:visited:hover {
      background: #2581DC;
      color: #ffffff;
 }
  .navbar-dropdown li a{
      background: #2581DC;
 }
  nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
      padding-left: 4px;
      content: ' \025BE';
 }
  nav ul li ul li {
      min-width: 190px;
 }
  nav ul li ul li a {
      padding: 15px;
      line-height: 20px;
 }
  .navbar-dropdown {
      position: absolute;
      display: none;
      z-index: 1;
      background: #fff;
      box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
 }
 /* Mobile navigation */
  .nav-mobile {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      height: 55px;
      width: 70px;
 }
  /* @media only screen and (max-width: 800px) {
      .nav-mobile {
          display: block;
     }
      nav {
          width: 100%;
          padding: 55px 0 15px;
     }
      nav ul {
          display: none;
     }
      nav ul li {
          float: none;
     }
      nav ul li a {
          padding: 15px;
          line-height: 20px;
          background: #262626;
     }
      nav ul li ul li a {
          padding-left: 30px;
     }
      .navbar-dropdown {
          position: static;
 }}
  @media screen and (min-width:800px) {
      .nav-list {
          display: block !important;
     }
 } */
  #navbar-toggle {
      position: absolute;
      left: 18px;
      top: 15px;
      cursor: pointer;
      padding: 10px 35px 16px 0px;
 }
  #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 30px;
      background: #ffffff;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
 }
  #navbar-toggle span:before {
      top: -10px;
 }
  #navbar-toggle span:after {
      bottom: -10px;
 }
  #navbar-toggle.active span {
      background-color: transparent;
 }
  #navbar-toggle.active span:before, #navbar-toggle.active span:after {
      top: 0;
 }
  #navbar-toggle.active span:before {
      transform: rotate(45deg);
 }
  #navbar-toggle.active span:after {
      transform: rotate(-45deg);
 }
body {
    box-sizing: border-box;
  
    margin: 0;
    overflow-x: hidden;
    object-fit: contain;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'poppins', sans-serif;
    background: #ececec;
}
.wrap{
       margin: 1em 3em;
    
}
a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: max-content;
}

.home {
    margin-left: 14em;
    padding-right: 2em;
}

.flex {
    display: flex;
    width: 100%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
}
.flexoid{
    display: flex;

}

.tables {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    border: 1px solid black;
}

.table {
    padding: 0.5em 1em;
    border: solid 1px black;
    margin: 0.5em;
    width: 3em;
    background: WHITE;
    
    width: 9.2em;

}

.generateBill {
  
    border: 1px solid black;
    color: BLACK;
    height: 20em;
    FONT-SIZE: 20PX;
    background: WHITE;
    FONT-WEIGHT: 550;
    PADDING: 15PX;
    overflow: auto;
    width: 70%;
}
tr,
td {
    border: 1px solid;
    color: #2f4cdd;
    padding: 10px;
}
.generateBill h3{
    color: #3d4465;
}
.ol {
    display: none;
}

.bookedTable {
    background-color: #2f4cdd;
    color: white;
}

.haha {
    color: red;
}

#billtakeaway {
    display: none;
}

.takeaway button,.onlineorders
 button{
    margin: 1em;
}
.takeaway,.onlineorders,.onlineorder{
    padding: 0.7em;
    
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.links{
    display: flex;
    justify-content: space-around;
}
input{
    padding: 6px;
    margin: 10px;
}
.onlineorders,.takeaway {
    background: white;
    max-height: 17em;
    overflow-y: scroll;
    padding: 1em;
    border: 1px solid #2f4cdd;
}
.order,.torder{
    display: none;
}

@media only screen and (max-width: 600px) {
    .generateBill{
        height: 55%;
        position: absolute;
        width: 90%;
        display: none;
        overflow-y: auto;
        overflow-x: hidden;
    }
    td{
        padding: 5px;
        font-size: 16px;
        font-weight: 500;
    }
    #cross{
        position: relative;
        right: -35%;
        top: 1.4em;
    }
    button{
        padding: 2px 7px;
    }
    .buttondiv {
        padding: 5px;
    }
    .flex{
        padding-left: 0;
       

    }
    #ordertype{
        display: block;
    }
    .table{
        width: 5.9em;
        padding: 0.87em 3.4em;
    }
    .wrap {
        margin: 1em 1em;
    } 

}


